* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --darkest: #2d3142;
  --semi-dark: #4f5d75;
  --bg-dark: #bfc0c0;
  --bg-light: #f9fafb;
  --bg-semi-light: #f8f8f8;
  --bg-semi-dark: #ededee;
  --accent: #ef8354;
  --btn-bg: #f38b5f;
  --accent-light: #fdc9b3;
}

html {
  font-size: 62.5%;
  font-family: Rubik, sans-serif;
}

button {
  border: none;
  text-decoration: none;
  background-color: var(--accent);
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  background-color: #ef8354;
  padding: 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  color: var(--darkest);
  height: max-content;
  z-index: 1;
}

.companyName {
  width: 30%;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bg-light);
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.searchBar input {
  width: 80%;
  border: none;
  background-color: var(--bg-semi-light);
  padding: 10px;
  font-family: Rubik, sans-serif;
  color: var(--darkest);
  border-radius: 10px;
  transition: 0.3s ease;
  border: 2px solid var(--accent);
}

.searchBar input:focus-visible {
  border: 2px solid var(--accent-light);
  outline: none;
}

.profile {
  margin-left: auto;
  width: fit-content;
}

svg {
  fill: var(--bg-semi-light);
  width: 24px;
}
